<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <meta charset="UTF-8" />

    <title>{{ info.name }} </title> 
    <meta name="description" content="nicdark Framework"> <!--insert your description here-->
    <meta name="author" content="nicdark"> <!--insert your name here-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!--meta responsive-->

    <!--START CSS-->
    <link rel="stylesheet" href="static/app/css/nicdark_style.css"> <!--style-->
    <link rel="stylesheet" href="static/app/css/nicdark_responsive.css"> <!--nicdark_responsive-->
    <link rel="stylesheet" href="static/app/css/custom.css"> <!-- style -->
    <!--revslider-->
    <link rel="stylesheet" href="static/app/css/revslider/settings.css"> <!--revslider-->

    <!--END CSS-->

    <!--google fonts-->
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'> <!-- font-family: 'Raleway', sans-serif; -->
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'> <!--Roboto-->
    <link href='https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,900,700' rel='stylesheet' type='text/css'> <!--Cinzel-->
    <link href='https://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'> <!--Great Vibes-->

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--FAVICONS-->
    <link rel="shortcut icon" href="static/app/img/favicon/favicon.ico">
    <link rel="apple-touch-icon" href="static/app/img/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="static/app/img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="static/app/img/favicon/apple-touch-icon-114x114.png">
    <!--END FAVICONS-->
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.194.0.min.js"></script>


</head>

{% block content %}
{% endblock %}

</html>
