{% extends 'app/cust_base.html' %}
{% block content %}
<body id="start_nicdark_framework">

<!--start preloader-->
<!-- <div class="nicdark_preloader">
    <i class="icon-heart-filled blue"></i>
</div> -->
<!--end preloader-->

<div class="nicdark_site">
    <div class="nicdark_site_fullwidth nicdark_clearfix"><div class="nicdark_overlay"></div>




<!--start section-->
<section id="nicdark_parallax_title" class="nicdark_section" style="background:url({{ info.appt_image }}) 50% 0 fixed; background-size:cover;">

    <div class="nicdark_filter greydark1 center">
        <div class="nicdark_space_block100"></div>
        <div class="nicdark_space_block100"></div>
        <div class="nicdark_btn nicdark_border_white medium white">
            <div class="nicdark_space_block20"></div>
            <h1 class=" white">Appointment</h1>
            <!-- <div class="nicdark_space_block20"></div> -->
            <!-- <div class="nicdark_divider small"><span class="nicdark_bg_white"></span></div> -->
            <div class="nicdark_space_block30"></div>
            <!-- <h4 class=" white"></h4> -->
            <!-- <div class="nicdark_space_block10"></div> -->
        </div>
        <div class="nicdark_space_block40"></div>
        <div class="nicdark_space_block50"></div>
    </div>
</section>
<!--end section-->




<section class="nicdark_section">

    <!--start nicdark_container-->
    <div class="nicdark_container nicdark_clearfix">

        <div class="nicdark_space50"></div>

        <div class="grid grid_12">
            <h1 class="grey2 center"><span class="grey">—</span> Information <span class="grey">—</span></h1>
            <div class="nicdark_space20"></div>
            <div class="nicdark_focus center"><h2 class="nicdark_icon-needle5 grey"></h2></div>
            <div class="nicdark_space10"></div>
        </div>

   </div>
   <!--end nicdark_container-->

</section>


<!--start section-->
<section class="nicdark_section">

    <!--start nicdark_container-->
    <div class="nicdark_container nicdark_clearfix">

      <div class="nicdark_padding20 nicdark_display_inlineblock nicdark_width_percentage100 nicdark_sizing">
          <div id="snackbar">Your request has been sent!</div>
          
          <form action="appt_request" method="POST" id="appt-form">
              {% csrf_token %}
          <input class="nicdark_bg_white nicdark_border_grey  grey small subtitle" type="text" placeholder="NAME" name="name" id="name" required>
          <div class="nicdark_space20"></div>
          <input class="nicdark_bg_white nicdark_border_grey  grey small subtitle" type="text" placeholder="EMAIL" name="email" id="email" required>
          <div class="nicdark_space20"></div>
          <input class="nicdark_bg_white nicdark_border_grey  grey small subtitle" type="text" placeholder="PHONE" name="phone" id="phone" required>
          <div class="nicdark_space20"></div>
          <input class="nicdark_bg_white nicdark_border_grey  grey small subtitle" type="text" placeholder="DATE" name="date" id="date" required>
          <div class="nicdark_space20"></div>
          <input class="nicdark_bg_white nicdark_border_grey  grey small subtitle" type="text" placeholder="TIME" name="time" id="time" required>
          <div class="nicdark_space20"></div>
          <textarea class="nicdark_bg_white nicdark_border_grey  grey small subtitle" placeholder="MESSAGE" rows="7" name="message" id="message"></textarea>
          <div class="nicdark_space20"></div>
          <!--<input class="nicdark_btn nicdark_bg_orange medium nicdark_shadow  white" type="submit" value="SEND">-->
          <input type="submit" value="REQUEST" class=" nicdark_outline nicdark_btn nicdark_bg_orangedark medium title   white nicdark_press">
          </form>
          <!--<a href="booked.html" class=" nicdark_outline nicdark_btn nicdark_bg_orangedark medium title   white nicdark_press">REQUEST</a>-->
      </div>


        <div class="nicdark_space50"></div>

    </div>
    <!--end nicdark_container-->

</section>
<!--end section-->

      </div>
    </div>

    <!--main-->
    <script src="static/app/js/main/jquery.min.js"></script> <!--Jquery-->
    <script src="static/app/js/main/jquery-ui.js"></script> <!--Jquery UI-->
    <script src="static/app/js/main/excanvas.js"></script> <!--canvas need for ie-->

    <!--plugins-->
    <script src="static/app/js/plugins/revslider/jquery.themepunch.tools.min.js"></script> <!--revslider-->
    <script src="static/app/js/plugins/revslider/jquery.themepunch.revolution.min.js"></script> <!--revslider-->

    <!--menu-->
    <script src="static/app/js/plugins/menu/superfish.min.js"></script> <!--superfish-->
    <script src="static/app/js/plugins/menu/tinynav.min.js"></script> <!--tinynav-->

    <!--other-->
    <script src="static/app/js/plugins/isotope/isotope.pkgd.min.js"></script> <!--isotope-->
    <script src="static/app/js/plugins/mpopup/jquery.magnific-popup.min.js"></script> <!--mpopup-->
    <script src="static/app/js/plugins/scroolto/scroolto.js"></script> <!--Scrool To-->
    <script src="static/app/js/plugins/nicescrool/jquery.nicescroll.min.js"></script> <!--Nice Scroll-->
    <script src="static/app/js/plugins/inview/jquery.inview.min.js"></script> <!--inview-->
    <script src="static/app/js/plugins/parallax/jquery.parallax-1.1.3.js"></script> <!--parallax-->
    <script src="static/app/js/plugins/countto/jquery.countTo.js"></script> <!--jquery.countTo-->
    <script src="static/app/js/plugins/countdown/jquery.countdown.js"></script> <!--countdown-->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.13/jquery.mask.min.js"></script>

    <!--settings-->
    <script src="static/app/js/settings.js"></script> <!--settings-->
<!--custom js-->

<script type="text/javascript">
    jQuery(document).ready(function() {
        
        $('#appt-form').on('submit', function(event){
            event.preventDefault();
            console.log("appt-form hit")
            appt_request();
        })
        
        function appt_request() {
            console.log("appt request hit")
            $.ajax({
                url: "/service/appt_request",
                type: "POST",
                data: {
                          'csrfmiddlewaretoken': '{{csrf_token}}',
                          'name': $('#name').val(),
                          'email': $('#email').val(),
                          'phone': $('#phone').val(),
                          'date': $('#date').val(),
                          'time': $('#time').val(),
                          'message': $('#message').val()
                },
    			success : function(json) {
    				var x  = $('#snackbar')[0]
    				console.log(x)
    				x.className = "show";
    				setTimeout(function(){x.className=x.className.replace("show","");}, 3000)
    				$('#appt-form').each(function(){
    					this.reset();
    				})
    			},
                error : function(xhr,errmsg,err) {
                    $('body').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
                        " <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
                    console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
                }
            })
        }
        
  $("#phone").mask('(000) 000-0000',
  {"placeholder":"PHONE"}); 


        //START PARALLAX SECTIONS
        $('#nicdark_parallax_title').parallax("50%", 0.3);
        $('#nicdark_parallax_1').parallax("50%", 0.3);
        $('#nicdark_parallax_2_btns').parallax("50%", 0.3);
        //END PARALLAX SECTIONS

 var today = new Date();
    
    $( function() {
        $("#time").prop("type", "hidden");
      $( "#time" ).prop('disabled', true).timepicker()
      $( "#date" ).datepicker({
        minDate: 0,
      })
      .on("input change", function (e) {
            selected_day = new Date(e.target.value)
            var d = new Date()
            var time = (d.getHours()+2);
            if(
                selected_day.getMonth() + selected_day.getDate() == 
                today.getMonth() + today.getDate()){
              $("#time")
              .prop('disabled', false)
              .prop('type', 'text')
              .val("")
              .timepicker('option', 'minTime', time.toString())
              .timepicker('option', 'maxTime', '16')
            }
            else {
                console.log("not today")
              $("#time")
              .prop('disabled', false)
              .prop('type', 'text')
              .val("")
              .timepicker('option', 'minTime', '8')
              .timepicker('option', 'maxTime', '16')
            }
          })
      
    });

    });
</script>

<!--start preloader-->
<script type="text/javascript">

    // jQuery(window).load(function() {
    //     jQuery(".nicdark_preloader").delay(1000).fadeOut("slow");
    // })

</script>
<!--end preloader-->

<!--start gogole analytics-->
 <!--end gogole analytics-->


</body>
{% endblock %}